<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="MyCon" connectionString="Data Source=mssql2019.adnshost.com,1633; Database=distacart; User id=distacart; password=Future@2575;Max Pool Size=50000" providerName="System.Data.SqlClient" />-->
    <add name="MyCon" connectionString="Data Source=199.79.62.22; Database=blsonico_herbal; User id=distacart; password=Future@2575;Max Pool Size=50000" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.aemailsrv.com" port="25" userName="info@de9store.in" password="4ZqBCR@u3Nu9v5" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <customErrors mode="Off" defaultRedirect="mycustompage.htm" />
    <machineKey decryptionKey="3A3EDA9DA65E28DC0BA5230426ABD077A78429E548F71A1E,IsolateApps" validationKey="E73D3FE848EC0C50BF98C088EAAB1172DAAFC2FE0246E9990D3F625B8DACE62CEE4B5AA4F6BE730CD94AA089E8A929C84B3FA982460D20989E434341908EAF7E,IsolateApps" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" />   
    <sessionState timeout="60000"></sessionState>
    <compilation debug="true" targetFramework="4.0">
     
    </compilation>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SqlInjection" type="SqlInjection" />
    </modules>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
  </system.webServer>
  <!--
The system.webServer section is required for running ASP.NET AJAX under Internet
Information Services 7.0.  It is not necessary for previous version of IIS.
-->
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
  </appSettings>
</configuration>